.history {
	display: grid;
	grid-template-columns: 280px 500px;
	column-gap: 120px;
	padding-top: 50px;
	&__controls {
		display: grid;
		grid-template-rows: 272px;
		row-gap: 50px;
	}
	&__list {
		display: grid;
		grid-template-columns: 240px 240px;
		grid-auto-rows: 170px;
		gap: 20px;
		.appointment {
			grid-template-columns: auto;
		}
	}
}
