@import "../../style/variables.scss";

.logo {
	position: absolute;
	top: 10px;
	left: 35px;
	font-weight: 700;
	font-size: 22px;
	line-height: 30px;
	color: $main-color;
	&:hover {
		color: $main-color;
	}
}

.header {
	&__list {
		display: flex;
		justify-content: space-around;
		align-items: center;
		height: 60px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.4);
	}
	&__link {
		font-weight: 700;
		font-size: 20px;
		line-height: 27px;
		color: rgba(0, 0, 0, 0.5);
		&_active {
			color: $main-color;
		}
		a {
			display: block;
			width: 100%;
			padding: 0 20px;
			&:hover {
				color: $main-color;
			}
		}
	}
}
